@model TravelTripProject.Models.Classes.Blog
@{
    ViewBag.Title = "BlogGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>BlogGetir</h2>
<br />
<!--begin formda blogguncelle methodu çalışcak.admindeki. nezaman çalışcak?Post olduğu zaman-->
<!--burda cvsitemizdekinden farkı bir tasaarım yaptık. hem view hem controller kısmında. inceleyebilirsin-->
@using (Html.BeginForm("BlogGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control",@readonly="readonly" })
    <br />
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BlogImage)
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama,15,1, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary">Güncelle</button>

}
